@import 'tailwindcss';

@theme {
  --color-chesscom: #2d2c28;
  --color-lichess: #000000;
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

.lichess-iframe {
  width: 100%;
  height: 400px;
}
